body {
    background-color: #e5d5c1;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color: #32261f;
}

.container {
    margin: 120px auto;
    max-width: 600px;
}

header {
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    color: #32261f;
}

.form-container{
    
    background-color: #aa9b89;
margin-bottom: 30px;
border-radius: 10px;
padding: 15px 20px;
box-shadow: 0px 2  0px 60px rgba(124, 109, 104, 0.08);
}

form {

    display: flex;
    
}

.hint{
    line-height: 1.5;
    font-size: 12px;
    margin-top: 5px;
    opacity: 0.6;

}

.instructions {
    padding: 16px;
    border: 1px solid #32261f;
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    color: #272044;
    background-color: #e0dad3;
}

.submit-button {
    margin-left: 10px;
    background: #32261f;
    color: #e5d5c1;
    border: none;
    width: 150px;
    font-size: 16px;
    border-radius: 50px;
    padding: 14px 24px;
}

.recipe {
    font-size: 16px;
    background-color: #eeeae4;
    padding:  20px;
    line-height: 2;
    border-left: 3px solid #32261f;
    box-shadow: 0px 4px 30px 0px rgba(124, 109, 104, 0.08);
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
    color: #635645;
}
.generating {
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}